@{
    ViewBag.Title = "Index";
}
<link type="text/css" href="~/Content/themes/base/jquery-treeview.css" rel="stylesheet" />
<style type="text/css">
    .treeview .span-selectable {
        cursor: pointer;
        margin-left: 5px;
        color: blue;
    }
    
    .treeview .span-deletable {
        cursor: pointer;
        margin-left: 5px;
        color: green;
    }
</style>
<script type="text/javascript" src="~/Scripts/jquery-treeview.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#build_tree_here_widget").treeview({
            source: "/Home/LongGetCategories",
            expandPaths: [[11, 1121, 112134], [12, 1222]]
        });
        //}).data("treeview")._renderItem = function (spanText, item) {
        //    if (item.Selectable) {
        //        var spanSelect = $("<span />");
        //        spanSelect.attr("id", item.Id);
        //        spanSelect.addClass("span-selectable");
        //        spanSelect.html("<b>Select " + item.Name + "</b>");
        //        spanSelect.appendTo(spanText);
        //    }

        //    var spanName = $("<span />");
        //    spanName.addClass("span-node-text");
        //    spanName.html(item.Name);
        //    spanName.appendTo(spanText);

        //    var spanDelete = $("<span />");
        //    spanDelete.attr("id", item.Id);
        //    spanDelete.addClass("span-deletable");
        //    spanDelete.html("<b>Delete</b>");
        //    spanDelete.appendTo(spanText);

        //    var spanGuigui = $("<span />");
        //    spanGuigui.attr("id", item.Id);
        //    spanGuigui.html("<b>Guilher Click</b>");
        //    spanGuigui.appendTo(spanText);
        //};
    });
</script>
<h2>Index</h2>
<div id="build_tree_here_widget"></div>
<br />