@{
    ViewBag.Title = "Index";
}
<link type="text/css" href="~/Content/themes/base/jquery-treeview.css" rel="stylesheet" />
<style>
    .build_tree_here_widget {
    }
</style>
<script type="text/javascript" src="~/Scripts/jquery-treeview.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".build_tree_here_widget").treeview();
    });
</script>
<h2>Index</h2>
<div class="build_tree_here_widget"></div>
