@{
    ViewBag.Title = "Index";
}
<link type="text/css" href="~/Content/themes/base/jquery-treeview.css" rel="stylesheet" />
<style type="text/css">
    .treeview .span-selectable {
        cursor: pointer;
        margin-left: 5px;
        color: blue;
    }

    .treeview .span-deletable {
        cursor: pointer;
        margin-left: 5px;
        color: green;
    }
</style>
<script type="text/javascript" src="~/Scripts/jquery-treeview-1.0.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#build_tree_here_widget").treeview({
            source: "/Home/LongGetCategories",
            //pathsToExpand: [[11, 1121, 112133], [12, 1222], [11, 1121, 112132, 11213241]],
            onCompleted: function (event, data) {
            
            },
            onNodeExpanded: function (event, data) {

            },
            onNodeColapsed: function (event, data) {

            },
            onNodeCreated: function (event, data) {

            }
        });
    });
</script>
<h2>Index</h2>
<div id="build_tree_here_widget"></div>
<br />
